@import "../../utilities/Variables";

.profile * {
  display: flex;
}
.profile {
  display: flex;
  flex-direction: column;
  color: $softCyan;
  &__hero {
    flex-direction: column;
    width: 100vw;
    padding-top: 20px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background-color: $darkBlue;
    padding-bottom: 100px;

    &__avatar {
      justify-content: center;
      margin-bottom: 15px;
      &__img {
        width: 100px;
        border: 7px solid $kellyGreen;
        border-radius: 50px;
      }
    }
    &__name {
      font-size: clamp($MM, 10vw, $L);
      justify-content: center;
      margin-bottom: 15px;
      font-family: $Mono;
    }
    &__bio {
      flex-wrap: wrap;
      justify-content: center;
      font-size: clamp($SS, 2.5vw, $SSS);
      margin-bottom: 15px;
    }
    &__about {
      justify-content: space-around;
      flex-direction: row;
      width: clamp(275px, 65vw, 400px);
      margin: 0 auto;
      font-size: clamp($SS, 2.5vw, $SSS);
      margin-bottom: 15px;

      &__location {
        align-items: center;
        &__icon {
          width: clamp($SS, 2.5vw, $SSS);
          height: clamp($SS, 2.5vw, $SSS);
        }
        &__text {
          font-family: $Mono;
          margin-left: 5px;
        }
      }
      &__joined {
        align-items: center;
        &__icon {
          width: clamp($SS, 2.5vw, $SSS);
          height: clamp($SS, 2.5vw, $SSS);
        }
        &__text {
          font-family: $Mono;
          margin-left: 5px;
        }
      }
    }
    &__site {
      margin: 0 auto;
      flex-wrap: wrap;
      font-size: clamp($M, 5vw, $MM);
      margin-bottom: 25px;
      letter-spacing: -0.5px;
      font-family: $Mono;
    }
    &__info {
      flex-direction: row;
      justify-content: space-around;
      margin: 0 auto;
      width: clamp(280px, 70vw, 600px);
      &__item {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 10px;
        font-size: clamp(11px, 2.8vw, $SSS);
        font-family: $Mono;
        width: clamp(90px, 20vw, 125px);
        height: clamp(60px, 14vw, 75px);

        border-radius: 3px;
        background-color: $lighterDarkBlue;
        &__text {
          color: $darkerSoftCyan;
          font-family: $Noto;
        }
      }
    }
  }
  &__graphs {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: -50px;
    width: 100%;
    flex-wrap: wrap;
    &__graph {
      background-color: white;
      border-radius: 3px;
      width: 250px;
      height: 300px;
    }
  }
}
