$black: #000;
$white: #fff;
// $persianBlue: #2f2fa2;
// $darkGray: #99738e;
// $brightRed: #fc4445;
$verySoftCyan: #cafafe;
$softCyan: #66fcf1;
$darkerSoftCyan: #2e8b85;
$darkBlue: #0b0c10;
$lighterDarkBlue: #1d1f2b;

$kellyGreen: #2bc016;

$LLL: 50px;
$LL: 45px;
$L: 40px;
$MMM: 35px;
$MM: 30px;
$M: 25px;
$SSS: 20px;
$SS: 15px;
$S: 13px;
$Noto: "Noto Sans JP", sans-serif;
$Mono: "Space Mono", monospace;
