$black: #000;
$white: #fff;
// $persianBlue: #2f2fa2;
// $darkGray: #99738e;
// $brightRed: #fc4445;
$verySoftCyan: #cafafe;
$softCyan: #6af8ef;
$darkerSoftCyan: #2e8b85;
$darkBlue: #0b0c10;
$lighterDarkBlue: #1d1f2b;

$bitterLime: #bced09;
$kellyGreen: #4cbb17;

$LLL: 45px;
$LL: 40px;
$L: 35px;
$MMM: 30px;
$MM: 25px;
$M: 20px;
$SSS: 15px;
$SS: 12px;
$S: 8px;

$Noto: "Noto Sans JP", sans-serif;
$Mono: "Space Mono", monospace;
