@import "../../utilities/Variables";

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  &__input {
    border: 2px solid $black;
    border-radius: 3px;
    width: clamp(270px, 45vw, 700px);
    height: 35px;
    color: white;
    margin-bottom: 30px;
    padding-left: 15px;
  }
  &__button {
    border: 2px solid #31231e;
    border-radius: 3px;
    width: 120px;
    height: 35px;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
  }
}
