@import "./utilities/Variables";
//Other Scss
@import "./components/App";
@import "./components/profile/Profile";
@import "./components/search/Search";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $verySoftCyan;
  color: $white;
  -webkit-font-smoothing: antialiased;
}

