@import "../../utilities/Variables";

.profile {
  display: flex;
  align-items: center;
  &__repos {
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px;
    overflow-x: hidden;
    &__head {
      flex-direction: row;
      width: clamp(280px, 100vw, 1700px);
      justify-content: space-between;
      margin-bottom: 25px;
      padding: 0px 10px 0px 10px;
      align-items: center;
      &__title {
        font-size: $MMM;
        color: $mostlyDarkBlue;
        font-family: $Mono;
        font-weight: 400;
        letter-spacing: -1.2px;
      }
      &__menu {
        justify-content: center;
        align-items: center;
        &__title {
          color: $mostlyDarkBlue;
          margin-right: 10px;
          font-size: 16px;
        }
      }
    }

    &__cards {
      width: clamp(280px, 100vw, 1700px);
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 15px;
      &__card {
        margin: 10px;
        flex-direction: column;
        background-color: $mostlyDarkBlue;
        border-radius: 6px;
        padding: 20px;
        min-height: 250px;
        max-height: 350px;
        &__title {
          font-size: $M;
          font-weight: 500;
          margin-bottom: 20px;
          color: $softCyan;
          &:hover {
            color: $softCyan;
          }
        }
        &__description {
          font-size: $SSS;
        }
        &__footer {
          height: 100%;
          align-items: flex-end;
          color: #4fd4cc;
          &__info {
            justify-content: space-between;
            width: 100%;
            align-items: center;
            &__group {
              justify-content: space-between;
              width: 200px;
              &__language {
                font-size: $SS;
                align-items: center;
                &__color {
                  width: 10px;
                  height: 10px;
                  background-color: red;
                  border-radius: 100%;
                  margin-right: 7px;
                }
                &__text {
                  font-family: $Mono;
                  font-size: $SS;
                }
              }
              &__stars {
                align-items: center;
                font-size: $SS;
                &__icon {
                  margin-top: 2px;
                  margin-right: 5px;
                  font-size: 16px;
                  display: flex;
                }
              }
              &__forks {
                align-items: center;
                font-size: $SS;
                &__icon {
                  margin-top: 2px;
                  margin-right: 5px;
                  font-size: 16px;
                  display: flex;
                }
              }
            }
            &__size {
              align-items: center;
              font-size: $SS;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .profile__repos__cards {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
@media (max-width: 768px) {
  .profile__repos__cards {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
